{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
<h1>{{ titulo }}</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.nombre.label }}<br>
        {{ form.nombre(size=40) }}<br>
        {% for error in form.nombre.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.autor.label }}<br>
        {{ form.autor(size=40) }}
    </p>
    <p>
        {{ form.precio.label }}<br>
        {{ form.precio() }}
    </p>
    <p>
        {{ form.cantidad.label }}<br>
        {{ form.cantidad() }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<p><a href="{{ url_for('inventario.index') }}">Volver a la lista</a></p>
{% endblock %}