<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Biblioteca Virtual{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('inventario.index') }}">Libros</a>
        <a href="{{ url_for('inventario.leer_txt') }}">Ver TXT</a>
        <a href="{{ url_for('inventario.leer_json') }}">Ver JSON</a>
        <a href="{{ url_for('inventario.leer_csv') }}">Ver CSV</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>